In [639]:
import pandas as pd;
import numpy as np;

In [640]:
book=pd.read_csv('./Books.csv')

C:\Users\Kanishka\AppData\Local\Temp\ipykernel_24260\520389089.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book=pd.read_csv('./Books.csv')

In [641]:
book=book.drop(columns=['Image-URL-S','Image-URL-M','Image-URL-L'])

In [642]:
book.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [643]:
ratings=pd.read_csv('./Ratings.csv')

In [644]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [645]:
users=pd.read_csv('./Users.csv')

In [646]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [647]:
book.shape

(271360, 5)

In [648]:
users.shape

(278858, 3)

In [649]:
ratings.shape

(1149780, 3)

In [650]:
x=ratings['User-ID'].value_counts()>200

### user's id who reveiwed at least 200 books

In [688]:
y=x[x].index
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='User-ID', length=899)

Return only those id out of ratings whose user id is in y means who reveiwed at least 200 books

In [653]:
ratings =ratings[ratings['User-ID'].isin(y)]

In [654]:
ratings['User-ID'].value_counts().min()

201

In [655]:
ratings.head()

      User-ID        ISBN  Book-Rating
1456   277427  002542730X           10
1457   277427  0026217457            0
1458   277427  003008685X            8
1459   277427  0030615321            0
1460   277427  0060002050            0

In [656]:
ratings.shape

(526356, 3)

Merging books with ratings Based on ISBN

In [657]:
ratings_with_books=ratings.merge(book,on='ISBN')

In [658]:
ratings_with_books.head(2)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons

In [659]:
ratings_with_books.shape

(487671, 7)

In [692]:
r=ratings_with_books.groupby('Book-Title')['Book-Rating'].count().reset_index()

In [698]:
print(r['Book-Rating'].max())
print(r['Book-Rating'].min())

363
1

In [662]:
final_rating=ratings_with_books.merge(r,on='Book-Title')

In [663]:
final_rating.head()

,User-ID,ISBN,Book-Rating_x,Book-Title,Book-Author,Year-Of-Publication,Publisher,Book-Rating_y
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,7
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,1
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,1
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,13

In [664]:
final_rating['rating']=final_rating['Book-Rating_y']

In [665]:
final_rating.head(4)

,User-ID,ISBN,Book-Rating_x,Book-Title,Book-Author,Year-Of-Publication,Publisher,Book-Rating_y,rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82,82
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,7,7
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,1,1
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,1,1

In [666]:
final_rating.drop(columns=['Book-Rating_y'],inplace=True)

#### FIND BOOK WHOSE RATING IS M0RE THAN 50

In [667]:
final_rating=final_rating[final_rating['rating']>=50]

In [668]:
final_rating.shape

(61853, 8)

#### REMOVING DUPLICATES

In [669]:
final_rating.drop_duplicates(['User-ID','Book-Title'],inplace=True)

In [670]:
final_rating.shape

(59850, 8)

### Create Pivot table

In [671]:
book_pivot=final_rating.pivot_table(columns='User-ID',index='Book-Title',values='rating')

In [672]:
book_pivot

User-ID,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,76.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,76.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,124.0,NaN,NaN,NaN,NaN,124.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,59.0,NaN,...,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,NaN,64.0,...,NaN,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,105.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Replace null values with 0

In [673]:
book_pivot.fillna(0,inplace=True)

In [674]:
book_pivot.shape

(742, 888)

Using Sparse matirx to reduce complexity

In [675]:
from scipy.sparse import csr_matrix;
book_sparse=csr_matrix(book_pivot)

In [676]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [677]:
from sklearn.neighbors import NearestNeighbors;
model=NearestNeighbors(algorithm='brute')

In [678]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

Dummy input

In [679]:
input_data=book_pivot.iloc[237,:].values.reshape(1,-1)

In [680]:
distances,suggestions=model.kneighbors(input_data,n_neighbors=6)

closest books

In [681]:
distances

array([[   0.        , 1753.17340842, 1822.42201479, 2082.78227379,
        2190.89776119, 2211.19741317]])

id of suggested books

In [682]:
suggestions

array([[237, 240, 238, 239, 241, 242]], dtype=int64)

In [683]:
book_pivot.index[237]

'Harry Potter and the Chamber of Secrets (Book 2)'

In [684]:
for i in range(1,len(suggestions[0])):
    print(book_pivot.index[suggestions[0][i]])

Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Order of the Phoenix (Book 5)
Harry Potter and the Sorcerer's Stone (Book 1)
Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))

How to get Index of particular book

In [685]:
np.where(book_pivot.index=='Dust to Dust')[0][0]

172

In [686]:
def recommend_books(bookname):
    index=np.where(book_pivot.index==bookname)[0][0]
    input_data=book_pivot.iloc[index,:].values.reshape(1,-1)
    
    distances,suggestions=model.kneighbors(input_data,n_neighbors=6) 

    for i in range(0,len(suggestions[0])):
        if i==0:
            name=book_pivot.index[suggestions[0][i]]
            print("Suggestions for bookname : ",name)
        else:
            print(book_pivot.index[suggestions[0][i]])

In [687]:
recommend_books('Portrait in Death')

Suggestions for bookname :  Portrait in Death
Table For Two
Engaging The Enemy
Purity in Death
Killjoy
A Darkness More Than Night