# ** Heart Disease Prediction Model **

## Using Logistic Regression Model

### Import all required libraries

In [475]:
import numpy as np;
import pandas as pd;
from sklearn.preprocessing import StandardScaler;
from sklearn.model_selection import train_test_split;
from sklearn.metrics import accuracy_score;
from sklearn.linear_model import LogisticRegression

## Data Collection and Processing

In [476]:
dataframe=pd.read_csv('./heart.csv')
dataframe.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [477]:
dataframe.shape

(1025, 14)

In [478]:
dataframe.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [479]:
dataframe.shape

(1025, 14)

In [480]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [481]:
## checking for missing value
dataframe.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [482]:
dataframe['target'].value_counts()
# 1 means -> Heart disease (Defective heart)
# 0 means -> No heart disease

target
1    526
0    499
Name: count, dtype: int64

In [483]:
dataframe.groupby('target').mean()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
target,,,,,,,,,,,,,
0,56.569138,0.827655,0.482966,134.106212,251.292585,0.164329,0.456914,139.130261,0.549098,1.600200,1.166333,1.158317,2.539078
1,52.408745,0.570342,1.378327,129.245247,240.979087,0.134981,0.598859,158.585551,0.134981,0.569962,1.593156,0.370722,2.119772

In [484]:
dataframe.groupby('target').sum()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
target,,,,,,,,,,,,,
0,28228,413,241,66919,125395,82,228,69426,274,798.5,582,578,1267
1,27567,300,725,67983,126755,71,315,83416,71,299.8,838,195,1115

## Splitting Features and Target

In [485]:
X=dataframe.drop('target',axis=1)
Y=dataframe['target']
# print(X.head())
print(Y.head())

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

## Standardizing The Data

In [486]:
scaler=StandardScaler()
X=scaler.fit_transform(X)
print(X)

[[-0.26843658  0.66150409 -0.91575542 ...  0.99543334  1.20922066
   1.08985168]
 [-0.15815703  0.66150409 -0.91575542 ... -2.24367514 -0.73197147
   1.08985168]
 [ 1.71659547  0.66150409 -0.91575542 ... -2.24367514 -0.73197147
   1.08985168]
 ...
 [-0.81983438  0.66150409 -0.91575542 ... -0.6241209   0.23862459
  -0.52212231]
 [-0.4889957  -1.51170646 -0.91575542 ...  0.99543334 -0.73197147
  -0.52212231]
 [-0.04787747  0.66150409 -0.91575542 ... -0.6241209   0.23862459
   1.08985168]]

## Splitting Data Into Training Data and Testing Data

In [487]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

print(X.shape,X_test.shape,X_train.shape)
print(Y.shape,Y_test.shape,Y_train.shape)

(1025, 13) (205, 13) (820, 13)
(1025,) (205,) (820,)

##  Model Training

In [488]:
model=LogisticRegression()
regression=model.fit(X_train,Y_train)

## Evaluating the Model

### Accuracy of Trained Data

In [489]:
X_train_prediction=model.predict(X_train)

prediction1=accuracy_score(X_train_prediction,Y_train)

print('Accuracy of Trained Data  : ',prediction1*100)

Accuracy of Trained Data  :  85.85365853658537

### Accuracy of Test Data

In [490]:
X_test_prediction=model.predict(X_test)

prediction2 =accuracy_score(X_test_prediction,Y_test)

print('Accuracy of Test Data  : ',prediction2*100)

Accuracy of Test Data  :  80.48780487804879

# Building predictive System

### Take any random input

In [491]:
input_data=(62,0,0,138,294,1,1,106,0,1.9,1,3,2)

arr=np.asarray(input_data)

arr_reshaped=arr.reshape(1,-1)

arr_reshaped

array([[ 62. ,   0. ,   0. , 138. , 294. ,   1. ,   1. , 106. ,   0. ,
          1.9,   1. ,   3. ,   2. ]])

### Standardize the input data

In [492]:
std_data=scaler.transform(arr_reshaped)

c:\Users\Kanishka\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

###  Predict the Output for Input Data

In [493]:
prediction3=model.predict(std_data)

if (prediction3[0]==1):
    print("The Person has Heart Disease .")
else:
    print("The Person does not have a Heart Disease .")

The Person does not have a Heart Disease .